################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JStudioClassic7
/bin
/lib
/source/Drivers/Direct3D9Driver/Debug/Direct3D9Driver.tlog
/source/Drivers/Direct3D9Driver/Debug
/source/Drivers/OpenGLDriver/Debug
/source/Engine/JetEngine/Debug
/source/Objects/ActorObj/Debug
/source/Objects/AmbObject/Debug
/source/Objects/BoxObject/Debug
/source/Objects/CamObject/Debug
/source/Objects/Corona/Debug
/source/Objects/DynamicLight/Debug
/source/Objects/ModelObject/Debug
/source/Objects/PathObject/Debug
/source/Objects/Portals/Debug
/source/Objects/PulsingLight/Debug
/source/Objects/Spout/Debug
/source/Objects/Terrain/Debug
/source/Tools/ActorTools/Debug
/source/Tools/ActorWorkbench/Debug
/source/Tools/Editor/Debug
/source/Tools/GameShell/Debug
/source/Tools/jMinApp/Debug
